/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    text-align: center;
    font-weight: bolder;
    line-height: 1;
}


/* HEADER */
header{
    background-color:  rgb(57, 132, 161);
    margin: 0 auto;
    width: 50%;
}

/* MAIN */
main{
    background-color: white;
    margin: 0 auto;
    width:50%;
}
hr{
    border:none;
}
h1 h2{ 
    margin: 10px;
    padding: 10px;
    border: 10px;
    font-size: 100%;
    font: italic;
    vertical-align: baseline;
}
p{
    margin: 0 auto;
    padding: 20px;
    font-size: 10px;
    font: inherit;
    vertical-align: baseline;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table{
    
}
thead{
    padding: auto;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
    color: white;
    background-color: rgb(57, 132, 161);
    margin: 0 auto;
    width:50%;
}
address{

}